@model mvc_app.Models.User

@{
    ViewData["Title"] = "File_view";
}

<h2>File_view</h2>

<h4>User</h4>
<hr />
<form asp-controller="Emp_File" asp-action="UploadFiles" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="File" class="btn btn-success btn-block" multiple />
    <button type="submit" class="btn btn-primary btn-block"> UploadFiles  </button>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
