@model mvc_app.Models.OutputClass

@{
    ViewData["Title"] = "outputView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentList) { 
            <tr>
                <td>
                    <h4> @item.name  @item.program @item.detail </h4>
                    <h4>@item.filename</h4>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
