@model mvc_app.Models.User

@{
    ViewData["Title"] = "Employee Data Form";
}

<h2>Employee Data Form</h2>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFiles" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Id" class="control-label">Id:</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employe_Role" class="control-label">Employe_Role:</label>


                <select asp-for="Employe_Role " class="form-control">

                    <option value=" " hidden disabled selected>Select Employe Role</option>
                    <option value="HR">HR</option>
                    <option value="Technology Head">Technology Head</option>
                    <option value=" Developer">Developer</option>
                    <option value="QA_Tester ">QA_Tester</option>
                </select>

                <span asp-validation-for="Employe_Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                <textarea asp-for="Address" class="form-control"
                          rows="3"
                          cols="20"></textarea>

                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="File" class="control-label">File:</label>

            </div>



            <input type="file" asp-for="File" class="btn btn-success btn-block" multiple />
            <button type="submit" class="btn btn-primary btn-block"> submit  </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
