@model mvc_app.Models.User;

@{
    Layout = null;
}

<h2>SetEmployeDetail</h2>

<h4>User</h4>

    <title>
        Employe Data
    </title>

<body>
    <div>
        <h1>Employee Detail</h1>
        <h2>Employee Id: @Model.Id</h2>
        <h2> Employee Name: @Model.Name</h2>
        <h2>Employee Address: @Model.Address</h2>
        <h2>Employee Role: @Model.Employe_Role</h2>
        <h2> Emplye file:@Model.File.FileName</h2>
    </div>

</body>
