@model mvc_app.Models.FileModel
@{
    ViewData["Title"] = "Upload";
}
<ul>

    @foreach (var item in Model.FilePath)
    {
        <li>@item.Names</li>
    }
</ul>


<img src="~/images/@ViewBag.file " width="120" height="100" />
<br />
<br />

<form>
    <input type="submit" value="Download" asp-controller="user" asp-action="Download" formenctype="multipart/form-data" />
</form>



